/*
Colors:
color: #0C356A;
color: #0174BE;
color: #03C988;
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


html,body{
    overflow-x: hidden;
}

/*HEADER*/

/* .navBar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: #0A6EBD;
    transform: 0.5s;
    padding: 0 100px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .logo{
    color: #fff;
    text-transform: none;
    margin-right: 50px;
    margin-top: 5px;
}

.navBar ul{
    list-style: none;
    line-height: 70px;
    margin-right: 250px;
}

.navBar ul li{
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.navBar ul li a{
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.navBar ul li a:hover{
    color: #03C988;
}

.navBar.animate{
    top: -100px;
}

.navBar.sticky{
    top: 0;
    z-index: 99;
} */

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;  
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #03C988 !important; 
    font-family: 'Raleway', sans-serif;
}

.bg-custom {
    background-color: #0A6EBD;
}

/*MAIN*/

body{
    margin: 0px;
}

.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../IMG/MainPage/LEARNMORE.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.short-info {
    text-align: center;
    font-size: 24px;
    color: white;
}

.titleTG{
    flex-shrink: 0;
    color: #FFF;
    font-family: Raleway;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.TGshortinfo{
    width: 984px;
    height: 317px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center; 
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.learn-more-btn {
    display: flex; 
    width: 250px; 
    height: 70px; 
    padding: 16px 32px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    flex-shrink: 0; 
    color: #FFF;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px; 
    background: #0A6EBD; 
    box-shadow: 0px 7px 21px 0px rgba(37, 44, 97, 0.20), 0px 3px 8px 0px rgba(136, 144, 194, 0.25);
}

.LankytinosVietos{
    width: 100%;
    height: 869px;
}

.LankytinosVietosPavadinimas{
    width: 472px;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*FOOTER*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #0A6EBD;
    color: #fff;
    padding: 20px 0;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-info{
    text-align: center;
}

